.para-welcome{
    padding-bottom: 30px;
    text-align: justify;
}
.readmore-span {
    margin-left: 7px;
}
.readmore-span1 {
    margin-left: 115px;
}
.book-span {
    margin-left: 35px;
}
.para-tours{
    margin-bottom: 30px;
}

.btn-content1 {
    position: relative;
    padding: 8px 20px;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 2px solid #fc9f1c;
    outline: none;
    text-shadow: none;
    margin-top: 17px;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-content2 {
    position: relative;
    padding: 8px 8px;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background: #fc9f1c;
    border-radius: 2px;
    border: 3px solid #fc9f1c;
    outline: none;
    text-shadow: none;
    margin-top: 17px;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-content1:hover {
    color: #fff;
    background: #fc9f1c;
    border: 3px solid rgba(255, 255, 255, 0);
}
.hovereffect img {
    margin-bottom: 0px;
}
.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.feature-1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border: 1px solid #fc9f1c;
}
.image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.cont-img {
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: auto;
}
.feature-1 {
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 0px 8px;
}
.no-padding, section.no-padding {
    padding-bottom: 90px;
}
#about-us-1.no-padding{
    padding-bottom: 0px;
}
#about-us-2.no-padding{
    padding-bottom: 0px;
}
#testimony.no-padding {
    padding-bottom: 0px;
}
.parallax{
    background-image: url(../img/bg-subheader.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#testimony .item{
    margin-left: 245px;
    margin-right: 245px;
}
#testimony img.tal {
    max-width: 75px;
    height: auto;
    margin-top: 0px;
    border-radius: 100%;
}
#testimony h3 {
    font-size: 11pt;
    text-align: center;
    margin: 10px auto;
}
#owl-testimonial .owl-dots {
    float: none;
}
.topic-dark{
    text-align: center;
}
.topic-light{
    text-align: center;
    color: #ffff;
}
.topic-light1{
    color: #ffff;
    margin-top: -15px;
    margin-left: 95px;
}
#owl-act .owl-dots{
    position:absolute;
}
.features:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 999;
}
.row1{
    margin-top: 50px;
}
.btn-readmore{
    margin-right: 84px;
    top: -46px;
    float: right;
}
.img-back{
    width: 85px;
    height: 88px;
    background: #fff;
    margin: -63px auto 0px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fc9f1c;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.topic{
    padding-bottom: 20px;
}
.attraction-slider {
    margin: 0px 100px;
}
.frm-clean {
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: -160px;
    border-radius: 8px;
    z-index: 2;
}
.first{
    color: #fc9f1c;
}
.big-heading {
    font-weight: 600;
    color: #666;
    margin-top: 0px;
    font-family: "Playfair Display", serif;
    position: relative;
    text-transform: uppercase;
}
.big-heading-light1 {
    font-weight: 600;
    color: #fff;
    margin-top: 0px;
    font-family: "Playfair Display", serif;
    position: relative;
    text-transform: uppercase;
    margin-left: 95px;
}
.logo1{
    border: 1px solid rgb(255, 255, 255);
}
.btn-center{
    text-align: center;
}
p.intro {
    font-size: 15px;
    color: #8c8c8c;
    text-align: justify;
}
hr {
    display: block;
    clear: both;
    border-top: solid 1px #fc9f1c;
    margin: 40px 0 40px 0;
}
.services h2 {
    margin-bottom: -30px;
}
.services p{
    margin: 0 0 20px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 44%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    color: #000;
}

.img-hover:hover .middle {
    opacity: 1;
}
.img-service{
    width: 100%;
}
.topic-package{
    padding: 15px 20px 15px 20px;
}
@media (max-width:500px) {
    #testimony .item {
        margin-left: 0px;
        margin-right: 0px;
    }
    .frm-clean {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: 0px;
        margin-top: 0px;
        padding: 0px 20px;
    }
    .topic-light1 {
        color: #ffff;
        margin-top: -15px;
        margin-left: 0px;
    }
    .btn-readmore {
        top: -18px;
    }
    .big-heading-light1 {
        margin-left: 0px;
    }
    .attraction-slider {
        margin: 0px 40px;
    }
    .big-heading {
        text-align: center;
    }
    .big-heading-light1 {
        text-align: center;
    }
    p.intro {
        font-size: 13px;
    }
    .p-left{
        margin-left: 30px;
    }
    .p-right{
        margin-right: 30px;
    }
}