.para-welcome{
    padding-bottom: 30px;
    text-align: justify;
}
.readmore-span {
    margin-left: 35px;
}
.readmore-span1 {
    margin-left: 115px;
}
.book-span {
    margin-left: 35px;
}
.para-tours{
    margin-bottom: 30px;
}

.btn-content1 {
    position: relative;
    padding: 8px 20px;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 2px solid #fc9f1c;
    outline: none;
    text-shadow: none;
    margin-top: 17px;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-content1:hover {
    color: #fff;
    background: #fc9f1c;
    border: 3px solid rgba(255, 255, 255, 0);
}
.hovereffect img {
    margin-bottom: 0px;
}
.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.feature-1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border: 1px solid #fc9f1c;
}
.cont-img {
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: auto;
}
.feature-1 {
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 0px 8px;
}
.no-padding, section.no-padding {
    padding-bottom: 90px;
}
#about-us-1.no-padding{
    padding-bottom: 0px;
}
#about-us-2.no-padding{
    padding-bottom: 0px;
}
#testimony.no-padding {
    padding-bottom: 0px;
}
.parallax{
    background-image: url(../img/bg-subheader.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#testimony .item{
    margin-left: 245px;
    margin-right: 245px;
}
#testimony img.tal {
    max-width: 75px;
    height: auto;
    margin-top: 0px;
    border-radius: 100%;
}
#testimony h3 {
    font-size: 11pt;
    text-align: center;
    margin: 10px auto;
}
#owl-testimonial .owl-dots {
    float: none;
}
.topic-dark{
    text-align: center;
}
.topic-light{
    text-align: center;
    color: #ffff;
}
.topic-light1{
    color: #ffff;
    margin-top: -15px;
    margin-left: 95px;
}
#owl-act .owl-dots{
    position:absolute;
}
.features:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 999;
}
.row1{
    margin-top: 50px;
}
.btn-readmore{
    margin-right: 60px;
    top: -15px;
}
.img-back{
    width: 85px;
    height: 88px;
    background: #fff;
    margin: -63px auto 0px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fc9f1c;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.topic{
    padding-bottom: 20px;
}
.attraction-slider {
    margin: 0px 100px;
}
.frm-clean {
    position: relative;
    width: 95%;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 0px;
    margin-top: -200px;
    border-radius: 8px;
    z-index: 2;
}


@media (max-width:500px) {
    #testimony .item {
        margin-left: 0px;
        margin-right: 0px;
    }
    .frm-clean {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: 0px;
        margin-top: 0px;
    }
    .topic-light1 {
        color: #ffff;
        margin-top: -15px;
        margin-left: 0px;
    }
    .btn-readmore {
        margin-right: 60px;
        top: 10px;
    }
}